body {
  font-family: Courier New, Courier, monospace;
  color: #5ead5e;
  margin: 0;
  padding: 20px;
  background: #111c25;
}

h1, h2, h3, h4 {
  margin: 0 0 10px;
}

h1 {
  font-size: 70px;
  line-height: 50px;
}